torch == 2.0.1
torchvision == 0.15.2
opencv-python
numpy == 1.23.1
xformers == 0.0.21
Pillow
DateTime
matplotlib
plyfile
HTML4Vision
timm
tensorboardX
imgaug
iopath
imagecorruptions
--find-links https://download.openmmlab.com/mmcv/dist/cu118/torch2.0/index.html
mmcv == 2.2.0
